#Use API Version 1
apiVersion: apps/v1
kind: Deployment #Object type deployment
# Metadata untuk deployment
metadata:
  name: order-service #Set name deployment
spec: # spesifikasi
  replicas: 1  #Set replicas Pod yang akan dijalankan
  #Menggunakan selector untuk mengidentifikasi Pod
  selector:
    matchLabels:
      # Penyesuaian berdasarkan pod nama label app
      app: order-service
  # Template Pod yang akan di-deploy oleh Deployment
  template:
    metadata:
      labels:
        app: order-service # metadata dengan label app
    spec:
      containers:
      - name: order-service # Set name untuk container
        # Image dan tag docker image yang digunakan
        image: ghcr.io/johnardi/order-service:v1
        imagePullPolicy: IfNotPresent # kebijakan pull jika image tidak tersedia di lokal
        ports:
        - containerPort: 3000 # Set port yang akan digunakan untuk mengakses container
        env: # mendefinisikan environment variabel
        - name: AMQP_URL # mendefinisikan encironment vaiabel AMQP_URL
          #value: "amqp:rabbitmq-service-internal"
          value: "amqp://guest:guest@10.111.98.132:5672" # nilai variabel AMQP_URL
